[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-pymongo = "*"
webargs = "*"
pymongo = "*"
flask-apispec = "*"
apispec = "*"
flask-restful-swagger = "*"
flask-restplus = "*"

[dev-packages]

[requires]
python_version = "3.8"
